.home__contenedor {
    height: 70vh;
    margin: 8rem 3rem;
    background: rgba(0, 0, 0, 0.098);
    border-radius: 15px;
}

.presentacion_vinculos {
    text-align: center;
    position: relative;
    left: 40rem;
    top: 2rem;
    width: 45vw;
}

.home__presentacion {
    margin-bottom: 4rem;
}

.home__presentacion h1 {
    font-size: 3rem;
    color: white;
}

.home__parrafo {
    font-size: 1.5rem;
    color: white;
}

.resalte {
    color: rgb(20, 220, 50);
}

.home__vinculos a{
    margin: 2rem;
    font-size: 2rem;
    color: white;
}

.home__vinculos a:hover {
    color: rgb(20, 220, 50); 
    cursor: pointer;
}