.home__contenedor {
    height: 50vh;
    margin-left: 3rem;
}

.home__presentacion {
    text-align: center;
}

.home__presentacion h1 {
    font-size: 3rem;
}

.home__parrafo {
    font-size: 1.5rem;
}