.home__contenedor {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 70vh;
    margin: 8rem 3rem;
    background: rgba(0, 0, 0, 0.098);
    border-radius: 15px;
}

.home__presentacion {
    text-align: center;
    width: 45vw;
}

.home__presentacion h1 {
    font-size: 3rem;
    color: white;
    padding: 50px;
}

.home__parrafo {
    font-size: 1.5rem;
    color: white;
    padding: 10px 60px;
}

.resalte {
    color: rgb(20, 220, 50);
}