.seccion__habilidades {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    background: rgba(0, 0, 0, 0.098);
    border-radius: 15px;
    margin: 8rem 3rem;
    padding: 3rem;
}

.contenedor__habilidades {
    display: grid;
    grid-template-columns: auto auto;
}

.seccion__habilidades h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.habilidades__front h3,
.habilidades__testing h3 {
    margin: 2rem;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
}
