.seccion__habilidades {
    /* fondo */
    background: rgba(0, 0, 0, 0.098);

    /* posicionamiento y tamaño */
    margin: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: end;
    height: auto;
    width: 90vw;
    flex-direction: column;
    padding-top: 3rem;

    /* estetica */
    border-radius: 15px;
}

.contenedor__habilidades {
    display: grid;
    grid-template-columns: auto auto;
}

.seccion__habilidades h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.habilidades__front h3,
.habilidades__testing h3 {
    margin: 2rem;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
}


