.navbar__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid black;
    gap: 25rem;
    width: 100vw;
    height: 15vh;
    background: linear-gradient(90deg, rgb(34, 0, 84), rgba(47, 49, 211, 0.279), rgb(34, 0, 84));
    position: fixed;
    top: 0;
}

.navbar__nombre {
   text-align: center;
   color: white;
}

.navbar__nombre h2 {
    font-size: 2rem;
}

.navbar__lista {
    display: flex;
    align-items: center;
    gap: 2rem;
    
    list-style-type: none;
}

.lista__item {
    font-size: 1.5rem;
}

.lista__item a {
    color: white;
    text-decoration: none;
}

.lista__item a:hover {
    /* color de prueba */
    color: rgb(20, 220, 50); 
    cursor: pointer;
    text-decoration: underline;
}