.navbar__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25rem;
    width: 100vw;
    height: 15vh;
    background: linear-gradient(90deg, rgb(34, 0, 84), rgba(47, 49, 211, 0.279), rgb(34, 0, 84));
    position: fixed;
    top: 0;
}

.navbar__nombre {
   text-align: center;
   color: white;
}

.navbar__nombre h2 {
    font-size: 2rem;
}

.navbar__lista {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}

.lista__item {
    font-size: 1.5rem;
}

.lista__item a {
    color: white;
    text-decoration: none;
}

.lista__item a:hover {
    /* color de prueba */
    color: rgb(20, 220, 50); 
    cursor: pointer;
    text-decoration: underline;
}




/* media queries para equipos menores a 780px (se tomo el iPad Mini por ser el mas pequeño) */


@media screen and (max-width: 780px){
    .navbar__contenedor {
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;
    }

    .navbar__lista a{
        font-size: 1.5rem;
    }
    
    .navbar__lista {
        gap: 3rem;
    }

}



/* media queries para equipos menores a 365px  (se uso el sansung galaxy S20 por el dobles de la pantalla) */

@media screen and (max-width: 412px) {
    .navbar__contenedor {
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;
        height: 10vh;
    }

    .navbar__nombre h2 {
        display: none;
    }

    .navbar__lista a{
        font-size: 1rem;
    }

    .navbar__lista {
        gap: 1.4rem;
        margin-right: 2rem;
    }
}


