.navbar__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid black;
    width: 100vw;
    height: 15vh;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(78, 66, 66), rgb(0, 0, 0));
}

.navbar__nombre {
   text-align: center;
   color: white;
}

.navbar__nombre h2 {
    font-size: 2rem;
}

.navbar__lista {
    display: flex;
    align-items: center;
    gap: 2rem;
    
    list-style-type: none;
}

.lista__item {
    font-size: 1.5rem;
}

.lista__item a {
    color: white;
    text-decoration: none;
}

.lista__item a:hover {
    color: crimson;
    cursor: pointer;
    text-decoration: underline;
}