
.habilidad-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
}


.habilidad-info:hover {
    color: rgb(20, 220, 50); 
    text-decoration: underline;
}