* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    position: relative;
    z-index: 1; /* Esto asegura que el contenido esté encima del fondo */
    font-family: sans-serif;
}